.header {
  width: 70%;
  left: 15%;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 7777;
}
.logo {
  left: 0;
  width: 160px;
  margin: 0;
}
.logo img {
  border: 0 none;
}
.header-nav {
  float: right;
}
.header-nav li {
  float: left;
  list-style: none;
  margin-right: 50px;
}
.header-nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
}
* {
  font-family: Lucida Grande, Lucida Sans Unicode, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff;
}
.text {
  position: relative;
  width: 30%;
  left: 20%;
  margin: 0;
}
.text-content2 {
  font-size: 1.5em;
  color: white;
  margin: 10px 0;
}
.text-content1 {
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
.navigation-link {
  position: fixed;
  right: 15%;
  top: 20px;
  text-decoration: none;
  display: none;
  z-index: 9999;
}
.nav-hamburger {
  position: absolute;
  margin-top: -5px;
  margin-right: -10px;
  padding: 20px;
  right: 0;
  width: 49px;
  height: 40px;
}
.nav-hamburger-line1 {
  display: block;
  position: relative;
  width: 60%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -ms-transition: -ms-transform 0.25s;
  -o-transition: -o-transform 0.25s;
}
.nav-hamburger-line2 {
  display: block;
  position: relative;
  width: 60%;
  height: 4px;
  background-color: #fff;
  top: 6px;
}
.nav-hamburger-line3 {
  display: block;
  position: relative;
  width: 60%;
  height: 4px;
  background-color: #fff;
  top: 12px;
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  -ms-transition: -ms-transform 0.25s ease;
  -o-transition: -o-transform 0.25s ease;
}
.nav-hamburger-line1-toggle {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}
.nav-hamburger-line2-toggle {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  opacity: 0;
}
.nav-hamburger-line3-toggle {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8888;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.menu-wrap {
  position: relative;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  top: 20%;
}
.menu-nav {
  padding: 0;
  font-size: 2em;
  font-weight: bold;
}
.menu-nav li {
  list-style: none;
  margin-bottom: 10%;
}
.menu li a {
  text-decoration: none;
  color: white;
}
.filter {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.text1 {
  position: absolute;
  width: 30%;
  left: 20%;
  top: 30%;
  margin: 0;
}
.text1-content2 {
  font-size: 2em;
  color: white;
  margin: 10px 0;
}
.text1-content1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
.text2 {
  display: none;
}
.text3 {
  display: none;
}
.text4 {
  display: none;
}
.text5 {
  display: none;
}
.text6 {
  position: relative;
  width: 70%;
  left: 15%;
  top: 0%;
  text-align: center;
}
.text6-content {
  font-size: 2em;
  color: white;
}
.buttons {
  position: absolute;
  width: 30%;
  left: 17%;
  top: 100%;
}
.buttons ul li {
  float: left;
  list-style: none;
  margin-right: 25px;
}
.button {
  width: 130px;
  height: 30px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.button:hover {
  color: #00A7EB;
  background-color: #ffffff;
}
.down-button {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
}
.phone {
  position: fixed;
  right: 20%;
  top: 100%;
  z-index: 7777;
  width: 260px;
  height: 530px;
}
.iPhone {
  position: absolute;
  width: 260px;
  height: 530px;
}
.screenshot0 {
  position: absolute;
  top: 66px;
  left: 17px;
  width: 226px;
  height: 399px;
  overflow: hidden;
  cursor: pointer;
}
.blackScreen {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 7776;
}
.loading {
  position: absolute;
  top: 66px;
  left: 17px;
  width: 226px;
  height: 399px;
  background: black;
  z-index: 7778;
}
.loading span {
  color: white;
  position: relative;
  top: 180px;
  left: 25px;
}
.loading .tip {
  font-size: 1.5em;
}
.phoneFrame-top {
  position: absolute;
  width: 254px;
  height: 528px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: white;
  left: 2px;
  clip: rect(0, 256px, 66px, 0);
  overflow: hidden;
}
.phoneFrame-bottom {
  position: absolute;
  width: 254px;
  height: 528px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: white;
  left: 2px;
  clip: rect(463px, 256px, 528px, 0);
  overflow: hidden;
}
.phoneFrame-left {
  position: absolute;
  left: 2px;
  top: 65px;
  height: 398px;
  width: 15px;
  background: white;
}
.phoneFrame-right {
  position: absolute;
  right: 4px;
  top: 65px;
  height: 398px;
  width: 15px;
  background: white;
}
.inset {
  position: absolute;
  width: 244px;
  height: 518px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  left: 2px;
  border: lightgray solid 5px;
}
.line1 {
  position: absolute;
  left: 2px;
  top: 41px;
  width: 5px;
  height: 9px;
  background: darkgrey;
}
.line2 {
  position: absolute;
  left: 2px;
  top: 479px;
  width: 5px;
  height: 9px;
  background: darkgrey;
}
.line3 {
  position: absolute;
  right: 4px;
  top: 41px;
  width: 5px;
  height: 9px;
  background: darkgrey;
}
.line4 {
  position: absolute;
  right: 4px;
  top: 479px;
  width: 5px;
  height: 9px;
  background: darkgrey;
}
.button1 {
  position: absolute;
  left: 0;
  top: 68px;
  width: 4px;
  height: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: white;
  clip: rect(0, 2px, 20px, 0);
}
.button2 {
  position: absolute;
  left: 0;
  top: 113px;
  width: 4px;
  height: 37px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: white;
  clip: rect(0, 2px, 37px, 0);
}
.button3 {
  position: absolute;
  left: 0;
  top: 161px;
  width: 4px;
  height: 37px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: white;
  clip: rect(0, 2px, 37px, 0);
}
.button4 {
  position: absolute;
  right: 2px;
  top: 113px;
  width: 4px;
  height: 37px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: white;
  clip: rect(0, 4px, 37px, 2px);
}
.circle1 {
  position: absolute;
  left: 127px;
  top: 15px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: black;
}
.circle2 {
  position: absolute;
  left: 85px;
  top: 30px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: black;
}
.rect {
  position: absolute;
  left: 109px;
  top: 32px;
  width: 40px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: black;
}
.home {
  position: absolute;
  left: 109px;
  top: 475px;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: black solid 2px;
}
.screenshot1 {
  position: absolute;
  top: 66px;
  left: 17px;
  width: 226px;
  height: 399px;
  overflow: hidden;
  cursor: pointer;
}
.a1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7779;
}
#container {
  position: absolute;
  top: 66px;
  left: 17px;
  width: 226px;
  height: 399px;
  overflow: hidden;
  z-index: 7777;
}
.animateFrame {
  position: relative;
  width: 226px;
  height: 399px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.pageFrame {
  position: relative;
  width: 226px;
  height: 399px;
  overflow: hidden;
}
.pageChange {
  position: relative;
  width: 226px;
  height: 399px;
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.image {
  position: absolute;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.slide-enter {
  left: 226px;
}
.slide-enter.slide-enter-active {
  left: 0px;
}
.slide-leave {
  left: 0px;
}
.slide-leave.slide-leave-active {
  left: -226px;
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
}
.page-leave {
  opacity: 1;
}
.page-leave-active {
  opacity: 0;
}
.links {
  width: 870px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  top: 10%;
}
.links li {
  list-style: none;
  width: 180px;
  height: 180px;
  margin: 0 15px;
  float: left;
  background: white;
  cursor: pointer;
}
.links li:last-child {
  cursor: default;
}
.links li:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.fa-apple {
  position: relative;
  left: 70px;
  top: 40px;
  color: #00A7EB;
}
.fa-android {
  position: relative;
  left: 70px;
  top: 40px;
  color: #00A7EB;
}
.fa-play-circle-o {
  position: relative;
  left: 70px;
  top: 40px;
  color: #00A7EB;
}
img.download {
  position: relative;
  left: 25px;
  top: 25px;
}
.download-label {
  width: 120px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 60px;
}
.download-label span {
  font-weight: bold;
  color: #00A7EB;
}
.footer {
  position: relative;
  width: 70%;
  left: 15%;
  bottom: -130px;
  color: white;
  text-align: center;
}
.footer a {
  color: white;
}
